html, body {
  background-color: #1A2328;
  font-family: 'Roboto', sans-serif;
}

.background-green {
  background-color: #021813;
}

.background-main-green {
  background-color: #1A2328;
}

.background-grey {
  background-color: #1A1A1A;
}

/* Quadrati base */
.custom-slick-dots li button:before {
  content: "";
  display: block;
  width: 20px !important;
  height: 8px !important;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 2px;
  transition: background-color 0.3s ease;
  font-size: 0 !important;
  line-height: 0;
}

/* Rettangolo attivo in verde */
.custom-slick-dots li.slick-active button:before {
  background-color: #28a745;
}

.custom-slick-dots ul {
  display: flex !important;
  justify-content: center;
  gap: 8px;
  padding: 0;
}

.active-link {
  color: #249556 !important;
  text-decoration: underline !important;
}

.custom-search::placeholder {
  color: #bbb !important;
  opacity: 1 !important;
}

.animated-gradient {
  background: linear-gradient(to right, rgb(18, 59, 59), #061d17, rgb(18, 59, 59));
  background-size: 300% 100%;
  animation: moveGradient 8s linear infinite;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}